<div class="row" style="margin: 0px;">
  <div class="col-md-12">
    <div class="d-flex justify-content-center">
      <img class="authoritti-img" src="../../../../assets/images/report-white.png" style="max-width: 32%;" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="d-flex justify-content-center">
        <span>
          Ketan&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;2/11/2022
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="d-flex justify-content-center">
        <span style="font-size:25px ;">
          Financial Report
        </span>
      </div>
    </div>
  </div>

  <div class="row header mt-4">

    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <span>Yearly</span></div>
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product/Service</th>
          <th scope="col">Dollar Value</th>
          <th scope="col">Total Sales</th>
          <th scope="col">Generated Sales</th>
          <th scope="col">Close Rate</th>
          <th scope="col">Sales Required</th>
          <th scope="col">Qualified Leads Required</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Rest</th>
          <td>$50.00</td>
          <td>60.00%</td>
          <td>$3,000,000.00</td>
          <td>50% (1 in 2 Sales)</td>
          <td>60,000.00</td>
          <td>120,000.00</td>
        </tr>
        <tr>
          <th scope="row">Rest</th>
          <td>$50.00</td>
          <td>60.00%</td>
          <td>$3,000,000.00</td>
          <td>50% (1 in 2 Sales)</td>
          <td>60,000.00</td>
          <td>120,000.00</td>
        </tr>
        <tr>
          <th scope="row">Rest</th>
          <td>$50.00</td>
          <td>60.00%</td>
          <td>$3,000,000.00</td>
          <td>50% (1 in 2 Sales)</td>
          <td>60,000.00</td>
          <td>120,000.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
