<div class="loginMain">
  <div style="width: 50%;">
    <div class="logo">
      <img style="width: 63%;" src="../../../assets/images/report-white.png" alt="">
    </div>
    <div class="user-body">
      <form style="width: 50%;">
        <div class="d-block">

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Enter Email"
              [(ngModel)]="payload.emailId" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" required>
            <small style="color: #e91e63;"
              *ngIf="(email.touched) && email.errors?.['required']">Email is required</small>
            <small style="color: #e91e63;" *ngIf="(email.touched ) && email.errors?.['pattern']">This
              is not a valid Email</small>
          </div>
          <div class="form-group">
            <span style="font-size: 17px;"> Enter New Password</span>
            <input class=" mt-3 form-control form-control-lg" id="exampleInputPassword1" name="newPassword"
              placeholder="Enter New password" #password="ngModel" [(ngModel)]="payload.newPassword" [type]="showPasswordNew ? 'text' : 'password'" required>
              <small style="color: #e91e63;"
              *ngIf="(password.touched ) && password.errors?.['required']">Password is
              required</small>
              <span (click)="showHidePasswordNew()">
                <i *ngIf="showPasswordNew" class="far fa-eye field-icon pointer" id="togglePassword"></i>
                <i *ngIf="!showPasswordNew" class="far fa-eye-slash field-icon pointer"></i></span>
            </div>
        </div>

        <div class="user-footer">

          <div style="display: flex;justify-content: center;margin-top: 20px;">
            <button (click)="submit()" type="submit" class="btn submit-btn">Submit</button>
          </div>


        </div>

      </form>
    </div>
  </div>

</div>
