.loginMain {
  height: 100%;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 10%;
}

.logo {
  text-align: center;
}

.user-heading {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

.user-body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.user-footer {
  display: block;
  margin-top: 20px;
}

.field-icon {
  float: right;
  margin-top: -31px;
  z-index: 2;
  margin-right: 10px;
}

label{
  font-size: 12px;
}
.login:hover{
  color: #e91e63;
}
