<div class="row header ">
  <div class="col-md-12">
    <span class="d-flex justify-content-center" style="font-size: 22px;">What I Know For Sure</span>
  </div>
</div>

<div class="row m-0 mt-5">
  <div class="col-md-6" style="padding: 13px;border: 2px solid white;">
    <div class="d-flex" style="justify-content: space-between;">
      <div>Goals-<span>1</span></div>
      <div> <i style=color:#e91e63 class="fa fa-plus" style="cursor: pointer;" aria-hidden="true"></i></div>
    </div>
  </div>
  <div class="col-md-6" style="padding: 13px;border: 2px solid white;">
    <div class="d-flex" style="justify-content: space-between;">
      <div>Outcome & Deliverables-<span>1</span></div>
      <div> <i style=color:#e91e63 class="fa fa-plus" style="cursor: pointer;" aria-hidden="true"></i></div>
    </div>
  </div>
</div>


<div class="row m-0">
  <div class="col-md-6" style="border: 2px solid black;">

    <div class="col-md-12">
      <div class="d-flex" style="padding: 18px;">
        <div class="col-md-2">1</div>
        <div class="col-md-6">
          <div>Goal Name</div>
          <div style="color:grey">Goal Description</div>

        </div>
        <div class="col-md-4">
          <div class="d-flex" style="justify-content: space-evenly;">
            <div class="pointer"><i class="fas fa-edit icon-color mt-2" aria-hidden="true" style="color: #e91e63;" ></i></div>
            <div class="pointer"><i class="fa fa-trash icon-color mt-2" aria-hidden="true" style="color: #e91e63;" ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="border: 2px solid black;">

    <div class="col-md-12">
      <div class="d-flex" style="padding: 18px;">
        <div class="col-md-2">1</div>
        <div class="col-md-6">
          <div>Goal Name</div>
          <div style="color:grey">Goal Description</div>

        </div>
        <div class="col-md-4">
          <div class="d-flex" style="justify-content: space-evenly;">
            <div class="pointer"><i class="fas fa-edit icon-color mt-2" aria-hidden="true" style="color: #e91e63;"></i></div>
            <div class="pointer"><i class="fa fa-trash icon-color mt-2" aria-hidden="true" style="color: #e91e63;" ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
