<div class="row mb-4 ques-container">
  <div class="col-md-12" style="padding: 0;">

    <span class="ml-3 index p-1">#{{index + 1}}</span>

    <div class="col-md-12 mt-3">
      <span>{{data.title}}</span>
    </div>
    <div class="col-md-12">
      <textarea [disabled]="viewMode" rows="3" name="description" class="form-control form-control-lg mt-3"  [placeholder]="data.placeholder ? data.placeholder : 'Enter Text'"
       [(ngModel)]="data.finalAnswer" required ></textarea>
    </div>
  </div>
</div>
