<div class="row header">
  <div class="col-md-12">
    <span class="d-flex justify-content-center" style="font-size: 22px;">List Your Professional Skills In Chronological
      Order</span>
  </div>
</div>

<div class="row m-0">
  <div class="col-md-12 mt-5">
    <div class="d-flex">

      <div class="col-md-1 mt-3 d-flex justify-content-center ">#</div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-lg" name="year" placeholder="Year" [(ngModel)]="year">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-lg" name="companyName" placeholder="Company Name"
          [(ngModel)]="companyName">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-lg" name="role" placeholder="Job Title/Role"
          [(ngModel)]="jobTitle">
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-lg" name="duration" placeholder="Duration In Years"
          [(ngModel)]="duration">
      </div>

        <div *ngIf="addIconFlag" class="col-md-1 mt-3 d-flex justify-content-center pointer" (click)="addDetails()"><i class="fa fa-plus"
            aria-hidden="true"></i></div>


        <div  *ngIf="editIconFlag" class="col-md-1 mt-3 d-flex justify-content-center pointer" (click)="updateDetails()">
          <i class="fa fa-check" style="color: #e91e63;" aria-hidden="true"></i>
        </div>

    </div>
  </div>
</div>

<div class="row m-0">
  <div class="col-md-12 mt-5"   >
    <ng-container *ngFor="let data of professionDataList;let i=index ">
      <div class="d-flex p-2" [ngClass]="this.professionDataList.length>=1?'border-down':'no-border'">
        <div class="col-md-1 d-flex justify-content-center">{{i+1}}</div>
        <div class="col-md-2 d-flex justify-content-center ">{{data.year}}</div>
        <div class="col-md-3 d-flex justify-content-center">{{data.companyName}}</div>
        <div class="col-md-3 d-flex justify-content-center">{{data.jobTitle}}</div>
        <div class="col-md-2 d-flex justify-content-center">{{data.duration}}</div>
        <div class="col-md-1">
          <div class="d-flex" style="justify-content: space-evenly;">
            <div (click)="editData(i)"><i class="fas fa-edit icon-color mt-2" aria-hidden="true"
                style="color: #e91e63;"></i></div>
            <div (click)="deleteData(i)"><i class="fa fa-trash icon-color mt-2" aria-hidden="true"
                style="color: #e91e63;"></i></div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
